{% if rows %}
    {% if attachment_before %}
        {{ attachment_before }}
    {% endif %}

    <div class="region-full-content">
        {% if header %}
            {{ header }}
        {% endif %}
    </div>

    <div class="region-full-content">
        <div class="teaser-list-large">
            {{ rows }}
        </div>
    </div>

    {% if footer %}
        {{ footer }}
    {% endif %}

    {% if attachment_after %}
        {{ attachment_after }}
    {% endif %}
{% endif %}


