{% if attachment_before %}
    {{ attachment_before }}
{% endif %}

{% if header %}
<div class="region-full-content region-header">
    {{ header }}
</div>
{% endif %}

{% if rows %}
  <div class="region-full-content region-teaser-list">
      <div class="teaser-list-large">
          {{ rows }}
      </div>
  </div>
{% endif %}

{% if footer %}
    {{ footer }}
{% endif %}

{% if attachment_after %}
    {{ attachment_after }}
{% endif %}

