<h3 class="item-paragraph__title" id="look-center">{{ 'Shop-the-look: <br />Mit diesen Produkten den Look <br />easy nachstylen'|trans }}</h3>
<div class="look-amp">
{% for widget in items %}

    {% set product_one %}
        {{ widget.content.product_one }}
    {% endset %}

    {% set product_two %}
        {{ widget.content.product_two }}
    {% endset %}

    {% if product_one|striptags|render|trim is not empty %}
            <h6>{{ high }}</h6>
        {{ drupal_entity('advertising_product', product_one|striptags|render|trim, 'amp') }}
    {% endif %}
    {% if product_two|striptags|render|trim is not empty %}
            <h6>{{ low }}</h6>
        {{ drupal_entity('advertising_product', product_two|striptags|render|trim, 'amp') }}
    {% endif %}


{% endfor %}
</div>