{% extends "@infinite/node/node.html.twig" %}

{% block content_header %}

    {% block article_header_blocks %}
        {{ content.field_header_blocks }}
    {% endblock %}

    {% block sponsored %}
        {% embed '@infinite/node/twig-block-sponsored.html.twig' %}
        {% endembed %}
    {% endblock %}

    {% if not has_spotlight_title %}
        {% if has_header_block %}
            <h2 class="title--article">{{ label }}</h2>
        {% else %}
            <h1 class="title--article">{{ label }}</h1>
        {% endif %}

        {% block author_teaser_block %}
            {{ author_teaser }}
        {% endblock %}
    {% endif %}
{% endblock %}

{% block content_body %}

    <div class="socials socials-bar socials-vertical-bar">
        {% block socials_vertical_bar %}
            {% embed '@infinite_amp/embeds/social_icons.html.twig' with {
            'url': content.url,
            'label': content.label,
            'twitter_share_via': content.twitter_share_via,
            'email_share_text': content.email_share_text,
            'email_subject': content.email_subject,
            'whatsapp_share_text': content.whatsapp_share_text,
            } %}
            {% endembed %}
        {% endblock %}
    </div>

    {% if content.field_paragraphs['#items'] %}
        {{ content.field_paragraphs }}
    {% endif %}
    {{ content.field_tags }}
    {{ content.field_ivw }}

    {% block socials_horizontal_bar %}
        <div class="socials socials-bar socials-horizontal-bar item-content__block">
            {% embed '@infinite_amp/embeds/social_icons.html.twig' with {
            'content': content,
            facebook_share_button: 'Share',
            whatsapp_share_button: 'Share',
            pinterest_share_button: 'Pin',
            twitter_share_button: 'Tweet',
            twitter_share_via: '',
            email_share_button: 'Mail',
            whatsapp_share_text: 'I read this article and thought you might like it:',
            email_share_text: 'I read this article and thought you might like it:',
            email_subject: 'An article you might like:'
            } %}
            {% endembed %}
        </div>
    {% endblock %}

{% endblock %}
