{% if content.status %}
    <div class="slide">
        <a class="item-product" {{ data_attributes }} href="{{ advertising_product.product_url.uri }}" target="_blank">
            <div class="img-container" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                {{ content.product_image }}
            </div>
            <div class="caption">
                <div class="text-brand">{{ content.product_brand }}</div>
                <div class="text-headline">{{ content.product_name }}</div>
                <div class="text-price">{{ content.product_price }} {{ formatted_currency }}</div>
                <div class="text-shop">Zum Shop</div>
            </div>
        </a>
    </div>
{% endif %}