
{% set product_url = advertising_product.product_url.uri %}

{% if provider == 'tracdelight' and advertising_product.product_id is not empty %}
    {% set product_url = product_url ~ '&suibid=' ~ advertising_product.product_id.0.value %}
{% endif %}

{% if content.status %}
    <div class="slide">
        <a class="item-product" {{ data_attributes }}
           href="{{ tipser_url | default(product_url) }}"
           target="{{ link_target }}">
            <div class="img-container">
                {{ content.product_image }}
            </div>
            <div class="caption">
                <div class="text-brand">{{ content.product_brand }}</div>
                <div class="text-headline">{{ content.product_name }}</div>
                {% if sold_out %}
                    <div class="text-shop text-sold-out">Ausverkauft</div>
                {% else %}
                    <div class="text-price">{{ content.product_price }} {{ formatted_currency }}</div>
                    {% include '@infinite_amp/product/advertising-product-button.html.twig' %}
                {% endif %}
            </div>
        </a>
    </div>
{% endif %}
