{% if content.status %}
    <div class="slide">
        <a class="item-product" {{ data_attributes }}
           href="{{ tipser_url | default(advertising_product.product_url.uri) }}"
           target="{{ link_target }}">
            <div class="img-container">
                {{ content.product_image }}
            </div>
            <div class="caption">
                <div class="text-brand">{{ content.product_brand }}</div>
                <div class="text-headline">{{ content.product_name }}</div>
                {% if sold_out %}
                    <div class="text-shop text-sold-out">Ausverkauft</div>
                {% else %}
                    <div class="text-price">{{ content.product_price }} {{ formatted_currency }}</div>
                    {% include '@infinite_amp/product/advertising-product-button.html.twig' %}
                {% endif %}
            </div>
        </a>
    </div>
{% endif %}
