{% set product_attributes = create_attribute() %}
{% set classes = [
  "item-product",
  "item-product--strikethrough",
] %}

{% set article_url = current_url ~ "&amp;title=" %}
{% set article_title = parent_title | url_encode(true) %}

{% set tipser_product_link %}
  {% verbatim %}{{amp_shopping_link}}{% endverbatim %}?article={{article_url}}{{article_title}}
{% endset %} 

{#
  Twig and mustache.js use similar syntax to render variables. How `Inverted Sections` (conditional
  rendering) is handled by Mustache, is desribed here:
  http://mustache.github.io/mustache.5.html#Inverted-Sections
  
  The below, will render the following html including the Mustache template:

  {{#amp_shopping_link}}
      http://link.com?article=https%3A%2F%2Flink.com%2Farticle&title=Something%20about%20fashion
  {{/amp_shopping_link}}
#}
{% set tipser_product_link_mustache %}
  {% verbatim %}{{#amp_shopping_link}}{% endverbatim %}
    {{ tipser_product_link }}
  {% verbatim %}{{/amp_shopping_link}}{% endverbatim %}
{% endset %} 

{#
  Renders:

  {{^amp_shopping_link}}
    {{shop_url}}&amp;subid={{ provider_identifier }}
  {{/amp_shopping_link}}
#}
{% set normal_product_link_mustache %}
  {% verbatim %}
    {{^amp_shopping_link}}
      {{shop_url}}&amp;subid={{ provider_identifier }}
    {{/amp_shopping_link}}
  {% endverbatim %}
{% endset %} 

{% set href = (tipser_product_link_mustache ~ normal_product_link_mustache) | replace({' ':'', "\n":'', "\r":''}) %} 

{% verbatim %}
<a class="item-product item-product--strikethrough" 
      data-vars-product-name="{{ title }}"
      data-vars-product-shop="{{ shop_name }}"
      data-vars-product-price="{{ price }}"
      data-vars-product-currency="{{ original_currency_code }}"
      data-vars-product-uuid="{{ uuid }}"
      data-vars-product-id="{{ provider_identifier }}"
      data-vars-product-category="{{ category }}"
      data-vars-product-sold-out="{{#stock_availability}}0{{/stock_availability}}{{^stock_availability}}1{{/stock_availability}}"
      data-vars-product-stock-availability="{{stock_availability}}"
      data-vars-product-provider="{{ provider }}"
      data-vars-product-view-mode="amp"
      data-vars-product-position="undefined"
      href={% endverbatim %}"{{href}}"{% verbatim %}
      target="{{#amp_shopping_link}}_self{{/amp_shopping_link}}{{^amp_shopping_link}}_blank{{/amp_shopping_link}}"
      style="margin-bottom: 16px">
    <div class="img-container">
        <amp-img layout="responsive" src="{{ image_style_product_300x324 }}" width="200" height="200" alt="{{ title }}"></amp-img></div>
    <div class="caption">
        <div class="text-brand">{{ brand }}</div>
        <div class="text-headline">{{ title }}</div>
        <div class="text-price">
            {{#display_strikethrough}}
              <span class="text-price--strikethrough">{{ original_price }} {{ original_currency_code }}</span>
            {{/display_strikethrough}}
            <span class="text-price--current">{{ price }} {{ original_currency_code }}</span>
        </div>
        <div class="text-shop">
          {{#stock_availability}}
            {{#amp_shopping_link}}
              Kaufen
            {{/amp_shopping_link}}
            {{^amp_shopping_link}}
              Zum Shop
            {{/amp_shopping_link}}
          {{/stock_availability}}
          {{^stock_availability}}Ausverkauft{{/stock_availability}}
        </div>
    </div>
</a>
{% endverbatim %}
