{% set product_attributes = create_attribute() %}
{% set classes = [
  "item-product",
  "item-product--strikethrough",
] %}

{% set url = url('<current>') | render | render %}
{% set article_url = url ~ "&title=" %}
{% set article_title = parent_title | url_encode(true) %}

{% set tipser_product_link %}
  {% verbatim %}{{attributes.0.value}}{% endverbatim %}?parent_id={{ parent_id }}&parent_type={{ parent_type }}&article={{article_url | raw}}{{article_title}}
{% endset %} 

{#
  Twig and mustache.js use similar syntax to render variables. How `Inverted Sections` (conditional
  rendering) is handled by Mustache, is desribed here:
  http://mustache.github.io/mustache.5.html#Inverted-Sections
  
  The below, will render the following html including the Mustache template:

  {{#attributes.0.value}}
      http://link.com?article=https%3A%2F%2Flink.com%2Farticle&title=Something%20about%20fashion
  {{/attributes.0.value}}
#}
{% set tipser_product_link_mustache %}
  {% verbatim %}{{#attributes.0.value}}{% endverbatim %}
    {{ tipser_product_link }}
  {% verbatim %}{{/attributes.0.value}}{% endverbatim %}
{% endset %} 

{#
  Renders:

  {{^attributes.0.value}}
    {{shop_url}}&subid={{ attributes.2.value }}
  {{/attributes.0.value}}
#}
{% set normal_product_link_mustache %}
  {% verbatim %}
    {{^attributes.0.value}}
      {{attributes.3.value}}
      {{#provider}}
        {{#is}}
          {{#tracdelight}}
            &subid={{attributes.2.value}}
          {{/tracdelight}}
            {{#amazon}}
              &tag={% endverbatim %}{{amazon_tag}}{% verbatim %}
          {{/amazon}}
        {{/is}}
      {{/provider}}
    {{/attributes.0.value}}
  {% endverbatim %}
{% endset %} 

{% set href = (tipser_product_link_mustache ~ normal_product_link_mustache) | replace({' ':'', "\n":'', "\r":''}) %} 

{% verbatim %}
<a class="item-product item-product--strikethrough" 
      data-vars-product-name="{{ title }}"
      data-vars-product-shop="{{ brand.name }}"
      data-vars-product-price="{{ price.data_price }}"
      data-vars-product-currency="{{ price.data_currency }}"
      data-vars-product-uuid="{{ uuid }}"
      data-vars-product-id="{{ attributes.2.value }}"
      data-vars-product-category="{{ category.name }}"
      data-vars-product-sold-out="{{#attributes.4.value}}0{{/attributes.4.value}}{{^attributes.4.value}}1{{/attributes.4.value}}"
      data-vars-product-stock-availability="{{attributes.4.value}}"
      data-vars-product-provider="{{ provider.name }}"
      data-vars-product-view-mode="amp"
      data-vars-product-position="undefined"
      href={% endverbatim %}"{{href}}"{% verbatim %}
      target="{{#attributes.0.value}}_self{{/attributes.0.value}}{{^attributes.0.value}}_blank{{/attributes.0.value}}"
      style="margin-bottom: 16px">
    <div class="img-container">
        <amp-img layout="responsive" src="{{ images.0.image_style_product300x324 }}" width="200" height="200" alt="{{ title }}"></amp-img></div>
    <div class="caption">
        <div class="text-brand">{{ brand.name }}</div>
        <div class="text-headline">{{ title }}</div>
        <div class="text-price">
            {{#attributes.1.value}}
              <span class="text-price--strikethrough">{{ price.original }}</span>
            {{/attributes.1.value}}
            <span class="text-price--current">{{ price.listing }}</span>
        </div>
        <div class="text-shop">
          {{#attributes.4.value}}
            {{#attributes.0.value}}
              Kaufen
            {{/attributes.0.value}}
            {{^attributes.0.value}}
              Zum Shop
            {{/attributes.0.value}}
          {{/attributes.4.value}}
          {{^attributes.4.value}}Ausverkauft{{/attributes.4.value}}
        </div>
    </div>
</a>
{% endverbatim %}
