{#
/**
 * @file
 * Default theme implementation to present the author of a node.
 *
 * Available variables:
 * - author_id
 * - author_forename
 * - author_surname
 * - author_url
 * - author_picture
 * - timestamp
 * - use_absolute_date
 *
 * @see template_preprocess_author_teaser()
 *
 * @ingroup themeable
 */
#}
<div class="author item-author">
    {% if author_id != 0 and (author_forename is not empty or author_surname is not empty) %}
        <a href="{{ author_url }}" target="_self">
    {% endif %}

    {% if author_id != 0 %}
        {{ author_picture }}
        {% if timestamp %}
            <time itemprop="datePublished" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp|format_date('custom', 'd. F Y') }}</time>
        {% endif %}
        </div> {# TODO: opened in user--author-teaser.html.twig #}
    {% else %}
        <div class="caption">
        {% if timestamp %}
            <time itemprop="datePublished" datetime="{{ timestamp|format_date('html_datetime') }}" title="">{{ timestamp|format_date('custom', 'd. F Y') }}</time>
        {% endif %}
        </div>
    {% endif %}

    {% if author_id != 0 and (author_forename is not empty or author_surname is not empty) %}
        </a>
    {% endif %}
</div>
